# Introduction to Scikit-Learn (sklearn)

This notebook demonstrates some of the most useful functions of the Scikit-Learn library.

What we're going to cover:

0. An end-to-end Scikit-Learn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm for our problems
3. Fit the model/algorithm and use it to make predictions on our data
4. Evaluate a model
5. Improve a model
6. Save and load a trained model
7. Putting it all together

In [88]:
what_were_covering = [
    '0. An end-to-end Scikit-Learn workflow',
    '1. Getting the data ready',
    '2. Choose the right estimator/algorithm for our problems',
    '3. Fit the model/algorithm and use it to make predictions on our data',
    '4. Evaluate a model',
    '5. Improve a model',
    '6. Save and load a trained model',
    '7. Putting it all together',
]
what_were_covering

['0. An end-to-end Scikit-Learn workflow',
 '1. Getting the data ready',
 '2. Choose the right estimator/algorithm for our problems',
 '3. Fit the model/algorithm and use it to make predictions on our data',
 '4. Evaluate a model',
 '5. Improve a model',
 '6. Save and load a trained model',
 '7. Putting it all together']

In [89]:
import numpy as np

## 0. An end-to-end Scikit-Learn worflow

In [90]:
# 1. Get the data ready
import pandas as pd
heart_disease = pd.read_csv('../data/heart-disease.csv')
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [91]:
# Create X - features matrix
X = heart_disease.drop('target', axis=1)

# Create Y - labels
Y = heart_disease['target']

In [92]:
# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
# clf = classifier/model & RandomForestClassifier = a classification model
clf = RandomForestClassifier(n_estimators=20)

# let's keep and view the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 20,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [93]:
# 3. Fit the model to the training data
from sklearn.model_selection import train_test_split

# Creates training and testing sets, training = 80% testing = 20%
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [94]:
# Find the patterns in our training data sets
clf.fit(X_train, Y_train);

In [95]:
# make a prediction
# DOES NOT WORK => needs to be same shape of data
# y_label = clf.predict(np.array([0,20,3,4]))

In [96]:
# Make predictions using the testing dataset
# y_preds is a standard
y_preds = clf.predict(X_test)
y_preds

array([1, 1, 0, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 1, 0, 1, 1, 1, 0, 0,
       0, 1, 1, 0, 0, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 1, 0, 0, 0, 0, 1,
       0, 0, 1, 0, 1, 1, 0, 1, 0, 0, 1, 0, 1, 0, 1, 0, 0])

In [97]:
# 4. Evaluate the model on the training data and test data
# Returns the mean accuracy on the given test data and labels
clf.score(X_train, Y_train)
# Performed 100% on the training data

1.0

In [98]:
# on test data
clf.score(X_test, Y_test)
# 80% correct with 100 estimators, 83% correct with 20 estimators

0.9016393442622951

In [99]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(Y_test, y_preds))

              precision    recall  f1-score   support

           0       0.94      0.89      0.91        35
           1       0.86      0.92      0.89        26

    accuracy                           0.90        61
   macro avg       0.90      0.90      0.90        61
weighted avg       0.90      0.90      0.90        61

In [100]:
confusion_matrix(Y_test, y_preds)

array([[31,  4],
       [ 2, 24]])

In [101]:
accuracy_score(Y_test, y_preds)

0.9016393442622951

In [102]:
# 5. Improve a model
# Try a different amount of n_estimators
np.random.seed(42) # make this reproducible
for i in range(10, 100, 10):
    print(f'Trying model with {i} estimators...')
    clf = RandomForestClassifier(n_estimators=i).fit(X_train, Y_train)
    print(f'Model accuray on test set: {clf.score(X_test, Y_test) * 100:.2f}%') # want to evaluate on test data (learns on training)
    print('-----------------------------')
    print("")

Trying model with 10 estimators...
Model accuray on test set: 86.89%
-----------------------------

Trying model with 20 estimators...
Model accuray on test set: 86.89%
-----------------------------

Trying model with 30 estimators...
Model accuray on test set: 85.25%
-----------------------------

Trying model with 40 estimators...
Model accuray on test set: 91.80%
-----------------------------

Trying model with 50 estimators...
Model accuray on test set: 83.61%
-----------------------------

Trying model with 60 estimators...
Model accuray on test set: 85.25%
-----------------------------

Trying model with 70 estimators...
Model accuray on test set: 86.89%
-----------------------------

Trying model with 80 estimators...
Model accuray on test set: 90.16%
-----------------------------

Trying model with 90 estimators...
Model accuray on test set: 91.80%
-----------------------------

In [103]:
# 6. Save a model and load it
import pickle

pickle.dump(clf, open('random_forest_model_1.pkl', 'wb')) #wb = write binary

In [104]:
loaded_model = pickle.load(open('random_forest_model_1.pkl', 'rb')) # rb = read binary
loaded_model.score(X_test, Y_test)

0.9180327868852459

In [105]:
# Standard imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

## 1. Getting data ready to be used with machine learning

Three main things
    1. Splitting data into features and labels (usually `X` and `y`)
    2. Filling (also called imputing) or disregarding missing values
    3. Converting non-numerical values to numerical values (aka Feature Encoding)

In [106]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

### 1. Split the data into features (X) and labels (Y)

In [107]:
# Want to use the features columns to predict y
# drop the target column on axis 1 (columns in pandas df)
X = heart_disease.drop('target', axis=1)
X.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2

In [108]:
# Get y label
y = heart_disease['target']
y.head()

0    1
1    1
2    1
3    1
4    1
Name: target, dtype: int64

### 1.0 Split the data into training and test sets

In [109]:
from sklearn.model_selection import train_test_split
# pass in features X and labels y. Set the test size
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [110]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

### 1.1 Make sure it's all numerical

Want to use this to create a model that predicts the price of a car based on the Make, Color, Odometer and the Price

In [111]:
# let's import car-sales-extended data
car_sales = pd.read_csv('../data/scikit-learn-data/car-sales-extended.csv')
car_sales.head(), len(car_sales)

(     Make Colour  Odometer (KM)  Doors  Price
 0   Honda  White          35431      4  15323
 1     BMW   Blue         192714      5  19943
 2   Honda  White          84714      4  28343
 3  Toyota  White         154365      4  13434
 4  Nissan   Blue         181577      3  14043,
 1000)

In [112]:
car_sales.dtypes

Make             object
Colour           object
Odometer (KM)     int64
Doors             int64
Price             int64
dtype: object

In [113]:
# Split the dataset into X/y, X = feature matrix, y = label 
X = car_sales.drop('Price',1)
y = car_sales['Price']

# Split into training and test sets, sklearn.model_selection.train_test_split()
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [114]:
# Build machine learning model
from sklearn.ensemble import RandomForestRegressor

Note: Classifier vs Regressor
- Classifier: Predict a class (know possible outputs). Examples: heart disease or not. Spam, or not, or probability of spam
- Regressor: Predit a value (don't know all possible outputs. Examples: Price of a car, predict future income.

In [115]:
# This will error, all values must be numerical 

# model = RandomForestRegressor() # Create model
# model.fit(X_train, y_train) # Train model
# model.score(X_test, y_test) # Test model

# ValueError: could not convert string to float: 'Toyota'

In [116]:
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# get all categorical features. Make, Color, and Doors (cars that have 3, 4, and 5 doors can be categories)
# car_sales['Doors'].value_counts()
categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
# ColumnTransformer accepts a list of tuples (name, transformer, feature_matrix) and transform the cols of the feature matrix
transformer = ColumnTransformer([('one_hot',# name
                                   one_hot, # transformer we want to use
                                   categorical_features)], # list of features to transform
                                   remainder='passthrough') # passthrough the remaining columns that don't match
# transform X (feature matrix)
transformed_X = transformer.fit_transform(X) # np.ndarray type
#turn into a dataframe

pd.DataFrame(transformed_X), X

(       0    1    2    3    4    5    6    7    8    9   10   11        12
 0    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
 1    1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
 2    0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
 3    0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
 4    0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0
 ..   ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...  ...       ...
 995  0.0  0.0  0.0  1.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0   35820.0
 996  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  1.0  0.0  0.0  155144.0
 997  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0   66604.0
 998  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  215883.0
 999  0.0  0.0  0.0  1.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  248360.0

 [1000 rows x 13 columns],
        Make Colour  Odometer (KM)  Doors
 0     Honda  White          35431      4
 1       BMW   Blue         192714      5
 2     Honda  White          84714      4
 3    Toyota  White         154365      4
 4    Nissan   Blue         181577      3
 ..      ...    ...            ...    ...
 995  Toyota  Black          35820      4
 996  Nissan  White         155144      3
 997  Nissan   Blue          66604      4
 998   Honda  White         215883      4
 999  Toyota   Blue         248360      4

 [1000 rows x 4 columns])

<img src='OneHotEncoding.png'>

In [117]:
# Another way to encode with pandas (doesn't work on Numerical cols)
dummies = pd.get_dummies(car_sales[['Make', 'Colour', 'Doors']])
dummies

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [118]:
# Let's try to refit the model
np.random.seed(42) # keep it consistent
X_train, X_test, y_train, y_test = train_test_split(transformed_X, # split data with transformed_x
                                                    y,
                                                    test_size=0.2)

model = RandomForestRegressor() # Create model
model.fit(X_train, y_train) # fit/train the model

RandomForestRegressor(bootstrap=True, ccp_alpha=0.0, criterion='mse',
                      max_depth=None, max_features='auto', max_leaf_nodes=None,
                      max_samples=None, min_impurity_decrease=0.0,
                      min_impurity_split=None, min_samples_leaf=1,
                      min_samples_split=2, min_weight_fraction_leaf=0.0,
                      n_estimators=100, n_jobs=None, oob_score=False,
                      random_state=None, verbose=0, warm_start=False)

In [119]:
model.score(X_test, y_test)

0.3235867221569877

### 1.2 What if there are missing  values?

1. Fill thm with some value (aka imputation)
2. Remove the samples with missing data altogether

In [120]:
# Import car sales missing data
car_sales_missing = pd.read_csv('../data/scikit-learn-data/car-sales-extended-missing-data.csv')
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [121]:
# check missing values 
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [122]:
# Create X & y
X = car_sales_missing.drop('Price', axis=1)
y = car_sales_missing['Price']

In [123]:
# Convert data to numbers
# Turn categories into numbers 
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',
                                   one_hot,
                                   categorical_features)],
                                   remainder='passthrough')

# transformed_X = transformer.fit_transform(X)
# transformed_X
# ValueError: Input contains NaN

In [124]:
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

#### Option 1: Fill missing data with Pandas
Categorical with string, numerical fill with mean

In [125]:
# Fill the 'Make' column
car_sales_missing['Make'].fillna('missing', inplace=True)

# Fill the 'Colour' column
car_sales_missing['Colour'].fillna('missing', inplace=True)

# Fill the 'Odometer' column
car_sales_missing['Odometer (KM)'].fillna(car_sales_missing['Odometer (KM)'].mean(), inplace=True)

# Fill the 'Doors' column
car_sales_missing['Doors'].fillna(4, inplace=True)

In [126]:
car_sales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [127]:
# Remove rows with missing Price value
car_sales_missing.dropna(inplace=True)

In [128]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [129]:
len(car_sales_missing)

950

In [130]:
# Split data into X & y
X = car_sales_missing.drop('Price', axis=1)
y = car_sales_missing['Price']

# Convert data to numbers
# Turn categories into numbers 
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',
                                   one_hot,
                                   categorical_features)],
                                   remainder='passthrough')

transformed_X = transformer.fit_transform(car_sales_missing)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        3.54310e+04, 1.53230e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        1.92714e+05, 1.99430e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        8.47140e+04, 2.83430e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 0.00000e+00,
        6.66040e+04, 3.15700e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.15883e+05, 4.00100e+03],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        2.48360e+05, 1.27320e+04]])

#### Option 2: Fill missing values with scikit-learn

In [131]:
car_sales_missing = pd.read_csv('../data/scikit-learn-data/car-sales-extended-missing-data.csv')
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [132]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [133]:
# drop all missing rows with no labels 
#don't want to work with a dataset that has no labels
car_sales_missing.dropna(subset=['Price'], inplace=True)
car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [134]:
# Split into X and y
X = car_sales_missing.drop('Price', axis=1)
y = car_sales_missing['Price']

In [135]:
# Split data into train and test
from sklearn.model_selection import train_test_split

np.random.seed(42)
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2)

In [136]:
# Fill missing vallues (imputation) with Scikit-Learn 
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Fill categorical values with 'missing' & numerical values with mean
cat_imputer = SimpleImputer(strategy='constant', fill_value='missing')
door_imputer = SimpleImputer(strategy='constant', fill_value=4)
num_imputer = SimpleImputer(strategy='mean')

# Define columns
cat_features = ['Make', 'Colour']
door_feature = ['Doors']
num_features = ['Odometer (KM)']

# Create an imputer (something that fills missing data)
imputer = ColumnTransformer([
    ('cat_imputer', cat_imputer, cat_features),
    ('door_imputer', door_imputer, door_feature),
    ('num_imputer', num_imputer, num_features)
])

# Transform the data 
# Fill train and test values separately
filled_X_train = imputer.fit_transform(X_train) # fit_transform imputes the missing values from the training set and fills them simultaneously
filled_X_test = imputer.transform(X_test)

In [137]:
filled_X_train, filled_X_test

(array([['Honda', 'White', 4.0, 71934.0],
        ['Toyota', 'Red', 4.0, 162665.0],
        ['Honda', 'White', 4.0, 42844.0],
        ...,
        ['Toyota', 'White', 4.0, 196225.0],
        ['Honda', 'Blue', 4.0, 133117.0],
        ['Honda', 'missing', 4.0, 150582.0]], dtype=object),
 array([['Toyota', 'Blue', 4.0, 99761.0],
        ['Toyota', 'Black', 4.0, 17975.0],
        ['Honda', 'Blue', 4.0, 197664.0],
        ['Nissan', 'Green', 4.0, 235589.0],
        ['Honda', 'Black', 4.0, 231659.0],
        ['Toyota', 'Blue', 4.0, 247601.0],
        ['Toyota', 'Green', 4.0, 110078.0],
        ['missing', 'White', 4.0, 155383.0],
        ['Nissan', 'White', 4.0, 26634.0],
        ['Honda', 'White', 4.0, 130319.03314917127],
        ['Honda', 'Green', 4.0, 238825.0],
        ['Honda', 'Green', 4.0, 37606.0],
        ['Toyota', 'Blue', 4.0, 230908.0],
        ['Toyota', 'Red', 4.0, 159925.0],
        ['Toyota', 'Blue', 4.0, 181466.0],
        ['Toyota', 'Blue', 4.0, 140465.0],
        ['Toyota', 'White', 4.0, 146307.0],
        ['Toyota', 'Green', 4.0, 214179.0],
        ['Honda', 'White', 4.0, 184869.0],
        ['Toyota', 'Black', 4.0, 224986.0],
        ['Nissan', 'White', 3.0, 176135.0],
        ['Nissan', 'Red', 4.0, 130319.03314917127],
        ['Toyota', 'Blue', 4.0, 112223.0],
        ['BMW', 'missing', 5.0, 206446.0],
        ['Honda', 'Green', 4.0, 130075.0],
        ['Nissan', 'Green', 4.0, 87701.0],
        ['Honda', 'Red', 4.0, 16079.0],
        ['Toyota', 'White', 4.0, 172018.0],
        ['Nissan', 'White', 4.0, 19265.0],
        ['Nissan', 'Blue', 4.0, 34024.0],
        ['Honda', 'White', 4.0, 56534.0],
        ['Toyota', 'White', 4.0, 22257.0],
        ['Toyota', 'missing', 4.0, 192890.0],
        ['Toyota', 'Green', 4.0, 130319.03314917127],
        ['Toyota', 'Black', 4.0, 93054.0],
        ['Honda', 'Blue', 4.0, 31677.0],
        ['Toyota', 'Blue', 4.0, 222542.0],
        ['Nissan', 'Blue', 4.0, 179666.0],
        ['Toyota', 'Black', 4.0, 86696.0],
        ['Toyota', 'Blue', 4.0, 240627.0],
        ['Toyota', 'Green', 4.0, 109868.0],
        ['Toyota', 'White', 4.0, 119439.0],
        ['Toyota', 'Blue', 4.0, 85473.0],
        ['Nissan', 'White', 4.0, 82429.0],
        ['Nissan', 'Blue', 4.0, 130319.03314917127],
        ['missing', 'Blue', 4.0, 179468.0],
        ['Toyota', 'White', 4.0, 216647.0],
        ['Honda', 'Black', 4.0, 237861.0],
        ['Nissan', 'White', 4.0, 123121.0],
        ['Honda', 'Blue', 4.0, 50417.0],
        ['Toyota', 'Blue', 4.0, 229110.0],
        ['Toyota', 'Blue', 4.0, 29856.0],
        ['Nissan', 'White', 4.0, 43540.0],
        ['Nissan', 'Black', 4.0, 239908.0],
        ['missing', 'White', 4.0, 103728.0],
        ['missing', 'White', 4.0, 138294.0],
        ['Nissan', 'Red', 4.0, 124112.0],
        ['Nissan', 'Red', 4.0, 166895.0],
        ['Nissan', 'White', 3.0, 130319.03314917127],
        ['Toyota', 'White', 4.0, 177571.0],
        ['Toyota', 'White', 4.0, 227387.0],
        ['Toyota', 'White', 4.0, 130319.03314917127],
        ['Toyota', 'Red', 4.0, 157432.0],
        ['Honda', 'Blue', 4.0, 68223.0],
        ['Honda', 'Blue', 4.0, 84719.0],
        ['Honda', 'Green', 4.0, 47019.0],
        ['Toyota', 'Black', 4.0, 201753.0],
        ['missing', 'Blue', 4.0, 96363.0],
        ['Nissan', 'White', 4.0, 48730.0],
        ['Honda', 'Green', 4.0, 94062.0],
        ['Honda', 'Red', 4.0, 111727.0],
        ['missing', 'Blue', 4.0, 73926.0],
        ['Nissan', 'Red', 4.0, 61892.0],
        ['Nissan', 'Blue', 4.0, 124116.0],
        ['Nissan', 'Blue', 4.0, 111256.0],
        ['missing', 'Blue', 4.0, 216250.0],
        ['missing', 'Black', 4.0, 189001.0],
        ['Honda', 'White', 4.0, 134949.0],
        ['BMW', 'White', 5.0, 29534.0],
        ['Toyota', 'White', 4.0, 110362.0],
        ['Honda', 'White', 4.0, 148238.0],
        ['Toyota', 'Blue', 4.0, 193276.0],
        ['Toyota', 'Green', 4.0, 132714.0],
        ['Toyota', 'Blue', 4.0, 23241.0],
        ['Toyota', 'Red', 4.0, 190211.0],
        ['Toyota', 'White', 4.0, 112968.0],
        ['Nissan', 'White', 4.0, 192747.0],
        ['Honda', 'missing', 4.0, 118609.0],
        ['Toyota', 'Blue', 4.0, 63975.0],
        ['Honda', 'White', 4.0, 56523.0],
        ['Honda', 'Green', 4.0, 130319.03314917127],
        ['Honda', 'White', 4.0, 214405.0],
        ['Toyota', 'Green', 4.0, 221725.0],
        ['Honda', 'Blue', 4.0, 196835.0],
        ['Honda', 'Red', 4.0, 47933.0],
        ['Honda', 'White', 4.0, 219635.0],
        ['Honda', 'White', 4.0, 130319.03314917127],
        ['Nissan', 'Blue', 4.0, 189182.0],
        ['Toyota', 'Blue', 4.0, 213893.0],
        ['Toyota', 'Black', 4.0, 35820.0],
        ['BMW', 'Red', 5.0, 131587.0],
        ['Honda', 'White', 4.0, 178134.0],
        ['Honda', 'missing', 4.0, 130319.03314917127],
        ['Honda', 'Red', 4.0, 98523.0],
        ['BMW', 'White', 5.0, 23996.0],
        ['Toyota', 'White', 4.0, 239760.0],
        ['Toyota', 'White', 4.0, 183368.0],
        ['Toyota', 'White', 4.0, 134862.0],
        ['Honda', 'Green', 4.0, 81764.0],
        ['Toyota', 'Green', 4.0, 151291.0],
        ['BMW', 'Blue', 3.0, 130817.0],
        ['Honda', 'Green', 4.0, 208651.0],
        ['Nissan', 'missing', 4.0, 206073.0],
        ['Toyota', 'White', 4.0, 164093.0],
        ['Honda', 'Blue', 4.0, 130319.03314917127],
        ['Honda', 'White', 4.0, 136340.0],
        ['Honda', 'Blue', 4.0, 217068.0],
        ['Toyota', 'Red', 4.0, 148518.0],
        ['Honda', 'White', 4.0, 29514.0],
        ['Toyota', 'White', 4.0, 72118.0],
        ['BMW', 'Red', 5.0, 208124.0],
        ['Honda', 'White', 4.0, 171260.0],
        ['BMW', 'Black', 5.0, 204746.0],
        ['missing', 'missing', 4.0, 61876.0],
        ['Honda', 'White', 4.0, 28791.0],
        ['Honda', 'Black', 4.0, 61120.0],
        ['Toyota', 'Black', 4.0, 121160.0],
        ['Toyota', 'Blue', 4.0, 223390.0],
        ['missing', 'White', 3.0, 133069.0],
        ['Toyota', 'White', 4.0, 46848.0],
        ['Toyota', 'Red', 4.0, 86284.0],
        ['Toyota', 'White', 4.0, 231683.0],
        ['Toyota', 'Black', 4.0, 71463.0],
        ['BMW', 'Black', 5.0, 181572.0],
        ['Toyota', 'White', 4.0, 221050.0],
        ['Honda', 'White', 4.0, 192655.0],
        ['Toyota', 'Blue', 4.0, 200597.0],
        ['Toyota', 'Green', 4.0, 180760.0],
        ['BMW', 'White', 5.0, 102773.0],
        ['Honda', 'White', 4.0, 25729.0],
        ['Honda', 'White', 4.0, 237209.0],
        ['missing', 'Blue', 4.0, 23545.0],
        ['BMW', 'Blue', 5.0, 31277.0],
        ['BMW', 'White', 5.0, 26531.0],
        ['Honda', 'White', 4.0, 82518.0],
        ['Honda', 'White', 4.0, 152212.0],
        ['Toyota', 'Red', 4.0, 133195.0],
        ['Toyota', 'Blue', 4.0, 232912.0],
        ['Toyota', 'White', 4.0, 124205.0],
        ['Honda', 'missing', 4.0, 144093.0],
        ['Toyota', 'Black', 4.0, 72287.0],
        ['Honda', 'Blue', 4.0, 78153.0],
        ['Toyota', 'Blue', 4.0, 89641.0],
        ['Honda', 'missing', 4.0, 213793.0],
        ['Nissan', 'Green', 3.0, 76610.0],
        ['Toyota', 'White', 4.0, 81656.0],
        ['Nissan', 'White', 3.0, 130319.03314917127],
        ['Toyota', 'Blue', 4.0, 238425.0],
        ['missing', 'Black', 4.0, 224479.0],
        ['BMW', 'Red', 5.0, 156064.0],
        ['Honda', 'Black', 4.0, 27788.0],
        ['Honda', 'White', 4.0, 130319.03314917127],
        ['Toyota', 'Red', 4.0, 49807.0],
        ['Honda', 'White', 4.0, 113704.0],
        ['Toyota', 'White', 4.0, 149989.0],
        ['BMW', 'White', 5.0, 178796.0],
        ['Honda', 'White', 4.0, 21393.0],
        ['Honda', 'Black', 4.0, 143649.0],
        ['Honda', 'White', 4.0, 34822.0],
        ['Honda', 'White', 4.0, 136279.0],
        ['BMW', 'Blue', 5.0, 212644.0],
        ['Toyota', 'White', 4.0, 223727.0],
        ['Nissan', 'White', 4.0, 24420.0],
        ['Honda', 'White', 4.0, 161712.0],
        ['Toyota', 'Blue', 4.0, 165301.0],
        ['Honda', 'Black', 4.0, 119033.0],
        ['Toyota', 'Black', 4.0, 86333.0],
        ['Toyota', 'White', 4.0, 69222.0],
        ['BMW', 'White', 5.0, 69066.0],
        ['Honda', 'White', 4.0, 178351.0],
        ['Nissan', 'White', 3.0, 213449.0],
        ['Nissan', 'Red', 3.0, 196130.0],
        ['BMW', 'White', 5.0, 85739.0],
        ['BMW', 'Blue', 3.0, 163322.0],
        ['Nissan', 'White', 4.0, 195056.0],
        ['Honda', 'Green', 4.0, 165101.0],
        ['Nissan', 'Green', 3.0, 153554.0],
        ['Toyota', 'White', 4.0, 108569.0],
        ['BMW', 'Black', 3.0, 201190.0],
        ['Honda', 'White', 4.0, 61163.0]], dtype=object))

#### Get our transformed data array's back into DataFrame's
Now we've filled our missing values, let's check how many are missing from each set.

In [138]:
car_sales_filled_train = pd.DataFrame(filled_X_train,
                                      columns=['Make', 'Colour', 'Doors', 'Odometer (KM)'])
car_sales_filled_test = pd.DataFrame(filled_X_test,
                                     columns=['Make', 'Colour', 'Doors', 'Odometer (KM)'])

# Check missing data in training set
car_sales_filled_train.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [139]:
len(car_sales_filled_test), car_sales_filled_test.isna().sum()

(190,
 Make             0
 Colour           0
 Doors            0
 Odometer (KM)    0
 dtype: int64)

In [140]:
# Now we've got no missing values, let's comvert data into numbers using oneHotEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

# Let's encode our features
categortical_features = ['Make', 'Colour', 'Doors']
one_hot = OneHotEncoder()
transformer = ColumnTransformer([('one_hot',
                                   one_hot,
                                   categorical_features)],
                                   remainder='passthrough')

# use the transformer to fit and train 
transformed_X_train = transformer.fit_transform(car_sales_filled_train) # fit and transform training data
transformed_X_test = transformer.transform(car_sales_filled_test) # transfrom test data

# Check transformed and filled X_train
transformed_X_train.toarray()

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 7.19340e+04],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.62665e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 4.28440e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.96225e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.33117e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.50582e+05]])

In [141]:
# Now we've filled and transformed our data and kept training and test sets separate
# Let's fit the model
np.random.seed(42)
from sklearn.ensemble import RandomForestRegressor

# setup model 
model = RandomForestRegressor()

# make sure to use transformed(filled and one-hot encoded) data 
model.fit(transformed_X_train, y_train)

# score
model.score(transformed_X_test, y_test)

0.21229043336119102

In [142]:
# score is likely lower because now we have less data
len(car_sales), len(car_sales_filled_train) + len(car_sales_filled_test)

(1000, 950)

In [143]:
what_were_covering

['0. An end-to-end Scikit-Learn workflow',
 '1. Getting the data ready',
 '2. Choose the right estimator/algorithm for our problems',
 '3. Fit the model/algorithm and use it to make predictions on our data',
 '4. Evaluate a model',
 '5. Improve a model',
 '6. Save and load a trained model',
 '7. Putting it all together']

# 2. Choose the right estimator/algorithm for our problem
Scikit-Learn uses estimator as another term for machine learning model or algorithm.

What kind of problem are you working with? 
* Classification - predicting whether a sample is one thing or another
* Regression - predicting a number

Picking the right model:
* Check the machine learning map: https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

### 2.1 Picking a machine learning model for a regression problem

In [144]:
# Import Boston housing dataset
from sklearn.datasets import load_boston
boston = load_boston()
boston

{'data': array([[6.3200e-03, 1.8000e+01, 2.3100e+00, ..., 1.5300e+01, 3.9690e+02,
         4.9800e+00],
        [2.7310e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9690e+02,
         9.1400e+00],
        [2.7290e-02, 0.0000e+00, 7.0700e+00, ..., 1.7800e+01, 3.9283e+02,
         4.0300e+00],
        ...,
        [6.0760e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         5.6400e+00],
        [1.0959e-01, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9345e+02,
         6.4800e+00],
        [4.7410e-02, 0.0000e+00, 1.1930e+01, ..., 2.1000e+01, 3.9690e+02,
         7.8800e+00]]),
 'target': array([24. , 21.6, 34.7, 33.4, 36.2, 28.7, 22.9, 27.1, 16.5, 18.9, 15. ,
        18.9, 21.7, 20.4, 18.2, 19.9, 23.1, 17.5, 20.2, 18.2, 13.6, 19.6,
        15.2, 14.5, 15.6, 13.9, 16.6, 14.8, 18.4, 21. , 12.7, 14.5, 13.2,
        13.1, 13.5, 18.9, 20. , 21. , 24.7, 30.8, 34.9, 26.6, 25.3, 24.7,
        21.2, 19.3, 20. , 16.6, 14.4, 19.4, 19.7, 20.5, 25. , 23.4, 18.9,
        35.4, 24.7, 31.6, 23.3, 19.6, 18.7, 16. , 22.2, 25. , 33. , 23.5,
        19.4, 22. , 17.4, 20.9, 24.2, 21.7, 22.8, 23.4, 24.1, 21.4, 20. ,
        20.8, 21.2, 20.3, 28. , 23.9, 24.8, 22.9, 23.9, 26.6, 22.5, 22.2,
        23.6, 28.7, 22.6, 22. , 22.9, 25. , 20.6, 28.4, 21.4, 38.7, 43.8,
        33.2, 27.5, 26.5, 18.6, 19.3, 20.1, 19.5, 19.5, 20.4, 19.8, 19.4,
        21.7, 22.8, 18.8, 18.7, 18.5, 18.3, 21.2, 19.2, 20.4, 19.3, 22. ,
        20.3, 20.5, 17.3, 18.8, 21.4, 15.7, 16.2, 18. , 14.3, 19.2, 19.6,
        23. , 18.4, 15.6, 18.1, 17.4, 17.1, 13.3, 17.8, 14. , 14.4, 13.4,
        15.6, 11.8, 13.8, 15.6, 14.6, 17.8, 15.4, 21.5, 19.6, 15.3, 19.4,
        17. , 15.6, 13.1, 41.3, 24.3, 23.3, 27. , 50. , 50. , 50. , 22.7,
        25. , 50. , 23.8, 23.8, 22.3, 17.4, 19.1, 23.1, 23.6, 22.6, 29.4,
        23.2, 24.6, 29.9, 37.2, 39.8, 36.2, 37.9, 32.5, 26.4, 29.6, 50. ,
        32. , 29.8, 34.9, 37. , 30.5, 36.4, 31.1, 29.1, 50. , 33.3, 30.3,
        34.6, 34.9, 32.9, 24.1, 42.3, 48.5, 50. , 22.6, 24.4, 22.5, 24.4,
        20. , 21.7, 19.3, 22.4, 28.1, 23.7, 25. , 23.3, 28.7, 21.5, 23. ,
        26.7, 21.7, 27.5, 30.1, 44.8, 50. , 37.6, 31.6, 46.7, 31.5, 24.3,
        31.7, 41.7, 48.3, 29. , 24. , 25.1, 31.5, 23.7, 23.3, 22. , 20.1,
        22.2, 23.7, 17.6, 18.5, 24.3, 20.5, 24.5, 26.2, 24.4, 24.8, 29.6,
        42.8, 21.9, 20.9, 44. , 50. , 36. , 30.1, 33.8, 43.1, 48.8, 31. ,
        36.5, 22.8, 30.7, 50. , 43.5, 20.7, 21.1, 25.2, 24.4, 35.2, 32.4,
        32. , 33.2, 33.1, 29.1, 35.1, 45.4, 35.4, 46. , 50. , 32.2, 22. ,
        20.1, 23.2, 22.3, 24.8, 28.5, 37.3, 27.9, 23.9, 21.7, 28.6, 27.1,
        20.3, 22.5, 29. , 24.8, 22. , 26.4, 33.1, 36.1, 28.4, 33.4, 28.2,
        22.8, 20.3, 16.1, 22.1, 19.4, 21.6, 23.8, 16.2, 17.8, 19.8, 23.1,
        21. , 23.8, 23.1, 20.4, 18.5, 25. , 24.6, 23. , 22.2, 19.3, 22.6,
        19.8, 17.1, 19.4, 22.2, 20.7, 21.1, 19.5, 18.5, 20.6, 19. , 18.7,
        32.7, 16.5, 23.9, 31.2, 17.5, 17.2, 23.1, 24.5, 26.6, 22.9, 24.1,
        18.6, 30.1, 18.2, 20.6, 17.8, 21.7, 22.7, 22.6, 25. , 19.9, 20.8,
        16.8, 21.9, 27.5, 21.9, 23.1, 50. , 50. , 50. , 50. , 50. , 13.8,
        13.8, 15. , 13.9, 13.3, 13.1, 10.2, 10.4, 10.9, 11.3, 12.3,  8.8,
         7.2, 10.5,  7.4, 10.2, 11.5, 15.1, 23.2,  9.7, 13.8, 12.7, 13.1,
        12.5,  8.5,  5. ,  6.3,  5.6,  7.2, 12.1,  8.3,  8.5,  5. , 11.9,
        27.9, 17.2, 27.5, 15. , 17.2, 17.9, 16.3,  7. ,  7.2,  7.5, 10.4,
         8.8,  8.4, 16.7, 14.2, 20.8, 13.4, 11.7,  8.3, 10.2, 10.9, 11. ,
         9.5, 14.5, 14.1, 16.1, 14.3, 11.7, 13.4,  9.6,  8.7,  8.4, 12.8,
        10.5, 17.1, 18.4, 15.4, 10.8, 11.8, 14.9, 12.6, 14.1, 13. , 13.4,
        15.2, 16.1, 17.8, 14.9, 14.1, 12.7, 13.5, 14.9, 20. , 16.4, 17.7,
        19.5, 20.2, 21.4, 19.9, 19. , 19.1, 19.1, 20.1, 19.9, 19.6, 23.2,
        29.8, 13.8, 13.3, 16.7, 12. , 14.6, 21.4, 23. , 23.7, 25. , 21.8,
        20.6, 21.2, 19.1, 20.6, 15.2,  7. ,  8.1, 13.6, 20.1, 21.8, 24.5,
        23.1, 19.7, 18.3, 21.2, 17.5, 16.8, 22.4, 20.6, 23.9, 22. , 11.9]),
 'feature_names': array(['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD',
        'TAX', 'PTRATIO', 'B', 'LSTAT'], dtype='<U7'),
 'DESCR': ".. _boston_dataset:\n\nBoston house prices dataset\n---------------------------\n\n**Data Set Characteristics:**  \n\n    :Number of Instances: 506 \n\n    :Number of Attributes: 13 numeric/categorical predictive. Median Value (attribute 14) is usually the target.\n\n    :Attribute Information (in order):\n        - CRIM     per capita crime rate by town\n        - ZN       proportion of residential land zoned for lots over 25,000 sq.ft.\n        - INDUS    proportion of non-retail business acres per town\n        - CHAS     Charles River dummy variable (= 1 if tract bounds river; 0 otherwise)\n        - NOX      nitric oxides concentration (parts per 10 million)\n        - RM       average number of rooms per dwelling\n        - AGE      proportion of owner-occupied units built prior to 1940\n        - DIS      weighted distances to five Boston employment centres\n        - RAD      index of accessibility to radial highways\n        - TAX      full-value property-tax rate per $10,000\n        - PTRATIO  pupil-teacher ratio by town\n        - B        1000(Bk - 0.63)^2 where Bk is the proportion of blacks by town\n        - LSTAT    % lower status of the population\n        - MEDV     Median value of owner-occupied homes in $1000's\n\n    :Missing Attribute Values: None\n\n    :Creator: Harrison, D. and Rubinfeld, D.L.\n\nThis is a copy of UCI ML housing dataset.\nhttps://archive.ics.uci.edu/ml/machine-learning-databases/housing/\n\n\nThis dataset was taken from the StatLib library which is maintained at Carnegie Mellon University.\n\nThe Boston house-price data of Harrison, D. and Rubinfeld, D.L. 'Hedonic\nprices and the demand for clean air', J. Environ. Economics & Management,\nvol.5, 81-102, 1978.   Used in Belsley, Kuh & Welsch, 'Regression diagnostics\n...', Wiley, 1980.   N.B. Various transformations are used in the table on\npages 244-261 of the latter.\n\nThe Boston house-price data has been used in many machine learning papers that address regression\nproblems.   \n     \n.. topic:: References\n\n   - Belsley, Kuh & Welsch, 'Regression diagnostics: Identifying Influential Data and Sources of Collinearity', Wiley, 1980. 244-261.\n   - Quinlan,R. (1993). Combining Instance-Based and Model-Based Learning. In Proceedings on the Tenth International Conference of Machine Learning, 236-243, University of Massachusetts, Amherst. Morgan Kaufmann.\n",
 'filename': '/opt/miniconda3/envs/sample_project_env/lib/python3.8/site-packages/sklearn/datasets/data/boston_house_prices.csv'}

In [145]:
# Turn it into a dataFrame from a dictionary
boston_df = pd.DataFrame(boston['data'], columns=boston['feature_names'])
boston_df['target'] = pd.Series(boston['target'])
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [146]:
# How many samples
len(boston_df)
# Check the docs: https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

506

In [147]:
# Let's try the Ridge Regression model from docs
from sklearn.linear_model import Ridge
from sklearn.model_selection import train_test_split

# setup ramdom seed
np.random.seed(42)

# Create the data
X = boston_df.drop('target', axis=1)
y = boston_df['target']

# Split the data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2)

# Instantiate the Ridge model
model = Ridge()

model.fit(X_train,
          y_train)

# Test the score of the Ridge model on the test dataset
model.score(X_test,
            y_test)

0.6662221670168518

How do we improve this score?

What is Ridge wasn't working? 
* Refer back to the Scikit-learn machine learning map https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

In [148]:
# Gives us try Ensemble Regressors 
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

# Setup random seed 
np.random.seed(42)

# Create the data
X = boston_df.drop('target', axis=1)
y = boston_df['target'] 

# Split the data into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2)

# Instantiate the RandomForestRegressor model 
rf = RandomForestRegressor()

rf.fit(X_train,
          y_train)

rf.score(X_test, y_test)

0.873969014117403

In [149]:
# check the Ridge model again
model.score(X_test, y_test)

0.6662221670168518

### 2.2 Choosing an estimator for a classification problem
* Refer back to the Scikit-learn machine learning map https://scikit-learn.org/stable/tutorial/machine_learning_map/index.html

In [150]:
heart_disease = pd.read_csv('../data/heart-disease.csv')
len(heart_disease), heart_disease.head()

(303,
    age  sex  cp  trestbps  chol  fbs  restecg  thalach  exang  oldpeak  slope  \
 0   63    1   3       145   233    1        0      150      0      2.3      0
 1   37    1   2       130   250    0        1      187      0      3.5      0
 2   41    0   1       130   204    0        0      172      0      1.4      2
 3   56    1   1       120   236    0        1      178      0      0.8      2
 4   57    0   0       120   354    0        1      163      1      0.6      2

    ca  thal  target
 0   0     1       1
 1   0     2       1
 2   0     2       1
 3   0     2       1
 4   0     2       1  )

map says try `LinearSVC`

In [151]:
what_were_covering

['0. An end-to-end Scikit-Learn workflow',
 '1. Getting the data ready',
 '2. Choose the right estimator/algorithm for our problems',
 '3. Fit the model/algorithm and use it to make predictions on our data',
 '4. Evaluate a model',
 '5. Improve a model',
 '6. Save and load a trained model',
 '7. Putting it all together']

In [152]:
# import LinearSVC estimator class
from sklearn.svm import LinearSVC
from sklearn.model_selection import train_test_split
# setup random seed
np.random.seed(42)

# Create data 
X = heart_disease.drop('target', axis=1)
y = heart_disease['target']

# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2)

# fit the model
svc = LinearSVC(max_iter=80000)
svc.fit(X_train, y_train)

svc.score(X_test, y_test)

/opt/miniconda3/envs/sample_project_env/lib/python3.8/site-packages/sklearn/svm/_base.py:946: ConvergenceWarning: Liblinear failed to converge, increase the number of iterations.
  warnings.warn("Liblinear failed to converge, increase "

0.8852459016393442

## 3. Fit the model/algorighm to our data and use it to make predictions

### 3.1 Fitting the model to the data

Different names for:
* `X` = features, feature variables, data
* `y` = labels, targets, target variables

In [153]:
# import the RandomForestClassifier estimator class
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
# setup random seed
np.random.seed(42)

# Create data 
X = heart_disease.drop('target', axis=1)
y = heart_disease['target']

# Split data into train and test sets
X_train, X_test, y_train, y_test = train_test_split(X,
                                                    y,
                                                    test_size=0.2)
# Instantiate the RandomForestClassifier model
clf = RandomForestClassifier()

# fit the model (find patters in the data)
clf.fit(X_train, y_train)

# Score the model (Use patters the model has learned)
clf.score(X_test, y_test)

0.8524590163934426

### 3.2 Make Predictions using a machine learning model

2 (main) ways to make predictions
1. `predict()`
2. `predict_proba()`

In [154]:
X_test.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
179,57,1,0,150,276,0,0,112,1,0.6,1,1,1
228,59,1,3,170,288,0,0,159,0,0.2,1,0,3
111,57,1,2,150,126,1,1,173,0,0.2,2,1,3
246,56,0,0,134,409,0,0,150,1,1.9,1,2,3
60,71,0,2,110,265,1,0,130,0,0.0,2,1,2

### Predicting with a classification model

#### predict()

In [155]:
# Use a trained model to make predictions
clf.predict(X_test) # returns predictions in the same format as the test labels

array([0, 1, 1, 0, 1, 1, 1, 0, 0, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0,
       1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 0, 0, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 1, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0])

In [156]:
np.array(y_test)

array([0, 0, 1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 0, 0, 1, 0,
       0, 1, 1, 0, 0, 1, 0, 1, 1, 0, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 0, 0, 0, 0, 1, 1, 0, 0, 0, 1, 0, 0, 0])

In [157]:
# Compare predictions to our "ground truth" (y) labels to evaluate the model
y_preds = clf.predict(X_test)
np.mean(y_preds == y_test)

0.8524590163934426

In [158]:
clf.score(X_test, y_test)

0.8524590163934426

#### sklearn metrics: accuracy_score()

In [159]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_preds)

0.8524590163934426

#### predict_proba()

In [160]:
# predict_proba() returns probabilities of a classification label
# The probabilities of each class
clf.predict_proba(X_test[:5])

array([[0.89, 0.11],
       [0.49, 0.51],
       [0.43, 0.57],
       [0.84, 0.16],
       [0.18, 0.82]])

In [161]:
clf.predict(X_test[:5])

array([0, 1, 1, 0, 1])

predict_proba would be useful if you only want to do something if confident past a threshold,  
or if you want to look closer at why certain data points aren't too convincing

#### predict vs predict_proba
* predict => label for each sample
* predict_proba => probabilities of a classification label

### Predicting with a regression model
`predict` can also be used with a regression model

In [162]:
boston_df.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,target
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2

In [163]:
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split

np.random.seed(42)

# Create the data
X = boston_df.drop('target', axis=1)
y = boston_df['target']

# Split into training and test sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# Instantiate the RandomForestRegressor
model = RandomForestRegressor()

# Fit the model 
model.fit(X_train, y_train)

# Score the model
model.score(X_test, y_test)

0.873969014117403

### Make predictions on a Regression model

In [164]:
# Make predictions with predict
y_preds = model.predict(X_test)
y_preds[:10]

array([23.002, 30.826, 16.734, 23.467, 16.853, 21.725, 19.232, 15.239,
       21.067, 20.738])

In [165]:
np.array(y_test[:10])

array([23.6, 32.4, 13.6, 22.8, 16.1, 20. , 17.8, 14. , 19.6, 16.8])

### Compare predictions to the ground truth (labels/y)

Regressions use Mean Absolute Error: Difference between each sample, totaled, and averaged

In [166]:
from sklearn.metrics import mean_absolute_error
mean_absolute_error(y_test, y_preds)

2.1226372549019623

In [167]:
what_were_covering

['0. An end-to-end Scikit-Learn workflow',
 '1. Getting the data ready',
 '2. Choose the right estimator/algorithm for our problems',
 '3. Fit the model/algorithm and use it to make predictions on our data',
 '4. Evaluate a model',
 '5. Improve a model',
 '6. Save and load a trained model',
 '7. Putting it all together']

## 4. Evaluating a model

Three ways to evauate Scikit-Learn estimators: 
1. Estimator `score` method
2. The `scoring` parameter
3. Problem-specific metric functions

https://scikit-learn.org/stable/modules/model_evaluation.html

### 4.1 Evaluating a model with score method

In [168]:
from sklearn.ensemble import RandomForestClassifier

np.random.seed(42)

X = heart_disease.drop('target', axis=1)
y = heart_disease['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

clf = RandomForestClassifier()

clf.fit(X_train, y_train)

clf.score(X_test, y_test)

0.8524590163934426

Let's do the same but for regression

In [169]:
from sklearn.ensemble import RandomForestRegressor

np.random.seed(42)

X = boston_df.drop('target', axis=1)
y = boston_df['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

model = RandomForestRegressor()
model.fit(X_train, y_train)

model.score(X_test, y_test)

0.873969014117403

### 4.2 Evaluating a model using the `scoring` parameter

In [170]:
# for classification models
from sklearn.model_selection import cross_val_score

from sklearn.ensemble import RandomForestClassifier

np.random.seed(42)

X = heart_disease.drop('target', axis=1)
y = heart_disease['target']

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

clf = RandomForestClassifier().fit(X_train, y_train)

In [171]:
clf.score(X_test, y_test)

0.8524590163934426

In [172]:
cross_val_score(clf, X, y)

array([0.81967213, 0.86885246, 0.81967213, 0.78333333, 0.76666667])

Single score vs mean of 5-fold cross-validation score

In [173]:
from sklearn.model_selection import cross_val_score

np.random.seed(24)

clf_single_score = clf.score(X_test, y_test)

#  Mean of 5 fold cross-validation score
clf_cross_val_score = np.mean(cross_val_score(clf, X, y, cv=5))

# Compare the two
clf_single_score, clf_cross_val_score

(0.8524590163934426, 0.821639344262295)

In [174]:
# Default scoring parameter of classifier = mean accuracy
# clf.score()

TypeError: score() missing 2 required positional arguments: 'X' and 'y'

In [ ]:
# Scoring parameter set to None by default
cross_val_score(clf, X, y, cv=5, scoring=None)

### 4.2.1 Classification model evaluation metrics

1. Accuracy
2. Area under ROC curve
3. Confusion matrix
4. Classification report

**Accuracy**

In [ ]:
heart_disease.head()

In [ ]:
from sklearn.model_selection import cross_val_score
from sklearn.ensemble import RandomForestClassifier

X = heart_disease.drop('target', axis=1)
y = heart_disease['target']

clf = RandomForestClassifier()
cross_val_score = cross_val_score(clf, X, y)
cross_val_score

In [ ]:
np.mean(cross_val_score)

In [ ]:
print(f'Heart Disease Classifier Cross-Validated Accuracy: {np.mean(cross_val_score) * 100:.2f}%')

**Area under the Receiver Operating Characteristic curve (AUC/ROC)**

* Area under cure (AUC)
* Receiving Operating Characteristic cure (ROC) 

ROC curves are a comparison of a model's true positive rate (tpr) versus a models false positive rate (fpr).

* True positive = model predicts 1 when truth is 1
* False positive = model predicts 1 when truth is 0
* True negative = model predicts 0 when truth is 0
* False negative = model predicts 0 when truth is 1

In [ ]:
from sklearn.metrics import roc_curve

# Create the data
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

# fit
clf = RandomForestClassifier().fit(X_train, y_train)

In [ ]:
# Make predictions with probabilities
y_probs = clf.predict_proba(X_test)

y_probs[:10], len(y_probs)

In [ ]:
# Since ROC curve is a comparison of model/estimator's True positive rate(tpr) vs False positive rate (fpr)
# We only pass it the positive probabilities*
y_probs_positive = y_probs[:, 1] # Slice all, only column 1 of every row
y_probs_positive[:10]

In [ ]:
# Calculate the fpr, tpr, thresholds
fpr, tpr, thresholds = roc_curve(y_test, y_probs_positive)

# Check the false positive rates
fpr[:10]

In [ ]:
tpr[:10]

In [ ]:
thresholds[:10]

In [ ]:
# Create a function for plotting ROC curves
import matplotlib.pyplot as plt

def plot_roc_curve(fpr, tpr):
    '''
    Plots a ROC (Receiver Operating Characteristic) curve
    given the false postive rate (fpr)
    and true positive rate (tpr) of a model
    '''
    # Plot roc curve
    plt.plot(fpr, tpr, color='orange', label='ROC')
    # Plot line with no predictive power (baseline)
    plt.plot([0, 1], [0,1], color='darkblue', linestyle='--', label='Guessing')
    
    # Customize the plot
    plt.xlabel('False positive rate (fpr)')
    plt.ylabel('True positive rate (tpr)')
    plt.title('Receiver Operating Characteristics (ROC) Curve')
    plt.legend()
    plt.show()
    
plot_roc_curve(fpr, tpr)

In [ ]:
from sklearn.metrics import roc_auc_score

# Area under curve
roc_auc_score(y_test, y_probs_positive)

In [ ]:
# Perfect ROC curve and AUC score
fpr, tpr, thresholds = roc_curve(y_test, y_test)
plot_roc_curve(fpr, tpr)

In [ ]:
# Perfect AUC score
roc_auc_score(y_test, y_test)